# Copyright (c) 2021 Percepio AB
# SPDX-License-Identifier: Apache-2.0

menu "ITM Config"
config PERCEPIO_TRC_CFG_ITM_PORT
	int "ITM Port"
	default 1
	range 0 31
	help
	  What ITM port to use for the ITM software events. Make sure the IDE is
	  configured for the same channel.
	  
	  Default: 1 (0 is typically terminal output)
endmenu # "ITM Config"
