# Copyright (c) 2021 Percepio AB
# SPDX-License-Identifier: Apache-2.0

menu "RTOS Specific"
    visible if n
config PERCEPIO_TRC_CFG_RECORDER_RTOS_THREADX
    bool "ThreadX"
    default y

# ThreadX does not support the classic snapshot format, only streaming
# and streaming snapshot (RingBuffer).
config PERCEPIO_TRC_RECORDER_MODE_STREAMING
    bool "Streaming recorder mode"
    default y
endmenu

menu "Recorder Common"
rsource "../../../config/Kconfig"
endmenu # "Recorder Common"
