# Copyright (c) 2021 Percepio AB
# SPDX-License-Identifier: Apache-2.0

config PERCEPIO_RTOS
	bool
	default y
	select PERCEPIO_TRC_CFG_RECORDER_RTOS_BAREMETAL

menu "Recorder Common"
# FreeRTOS supports classic snapshot and streaming
choice PERCEPIO_TRC_CFG_RECORDER_MODE
    prompt "Tracing Mode"
    default PERCEPIO_TRC_RECORDER_MODE_STREAMING
    help
      BareMetal only suppots streaming mode.

config PERCEPIO_TRC_RECORDER_MODE_STREAMING
	bool "Streaming recorder mode"
endchoice

rsource "../../../config/Kconfig"
endmenu # "Recorder Common"

menu "Recorder BareMetal"
choice PERCEPIO_TRC_CFG_HARDWARE_PORT
    prompt "Hardware Port"
    default PERCEPIO_TRC_HARDWARE_PORT_ARM_Cortex_M

config PERCEPIO_TRC_HARDWARE_PORT_Win32
	bool "Win32"

config PERCEPIO_TRC_HARDWARE_PORT_Atmel_AT91SAM7
	bool "Atmel AT91SAM7"

config PERCEPIO_TRC_HARDWARE_PORT_Atmel_UC3A0
	bool "Atmel UC3A0"

config PERCEPIO_TRC_HARDWARE_PORT_ARM_Cortex_M
	bool "Cortex M"

config PERCEPIO_TRC_HARDWARE_PORT_ARM_CORTEX_A9
	bool "Cortex A9"

config PERCEPIO_TRC_HARDWARE_PORT_Renesas_RX600
	bool "Renesas RX600"

config PERCEPIO_TRC_HARDWARE_PORT_MICROCHIP_PIC24_PIC32
	bool "Microchip PIC24/PIC32"

config PERCEPIO_TRC_HARDWARE_PORT_TEXAS_INSTRUMENTS_TMS570_RM48
	bool "TI TMS570 RM48"

config PERCEPIO_TRC_HARDWARE_PORT_TEXAS_INSTRUMENTS_MSP430
	bool "TI MSP430"

config PERCEPIO_TRC_HARDWARE_PORT_XILINX_PPC405
	bool "Xilinx PPC405"

config PERCEPIO_TRC_HARDWARE_PORT_XILINX_PPC440
	bool "Xilinx PPC440"

config PERCEPIO_TRC_HARDWARE_PORT_XILINX_MICROBLAZE
	bool "Xilinx Microblaze"

config PERCEPIO_TRC_HARDWARE_PORT_XILINX_ZyncUltraScaleR5
	bool "Xilinx Zync Ultra Scale R5"

config PERCEPIO_TRC_HARDWARE_PORT_NXP_LPC210X
	bool "NXP LPC210X"

config PERCEPIO_TRC_HARDWARE_PORT_Altera_NiosII
	bool "Altera Nios II"
endchoice

if PERCEPIO_TRC_RECORDER_MODE_STREAMING
endif # PERCEPIO_TRC_RECORDER_MODE_STREAMING
endmenu # "Recorder BareMetal"
