# Enable application tracing by default
CONFIG_APPTRACE_DEST_JTAG=y
CONFIG_APPTRACE_ENABLE=y

# Enable Percepio TraceRecorder
CONFIG_PERCEPIO_RECORDER_TRC_RECORDER_MODE_STREAMING=y
CONFIG_PERCEPIO_TRACERECORDER_ENABLED=y
CONFIG_PERCEPIO_RECORDER_CFG_START_MODE_START_FROM_HOST=y
# CONFIG_PERCEPIO_RECORDER_CFG_START_MODE_START is not set
# CONFIG_PERCEPIO_RECORDER_CFG_START_MODE_START_AWAIT_HOST is not set
CONFIG_PERCEPIO_TRC_CFG_STREAM_PORT_ESP_IDF_APPTRACE=y
# CONFIG_PERCEPIO_TRC_CFG_STREAM_PORT_RINGBUFFER is not set
# CONFIG_PERCEPIO_RECORDER_CFG_TRAX_MODE_BLOCK_IF_FIFO_FULL is not set
CONFIG_PERCEPIO_RECORDER_CFG_TRAX_MODE_NO_BLOCK_SKIP=y
# CONFIG_PERCEPIO_RECORDER_CFG_SCHEDULING_ONLY is not set
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_MEMMANG_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_USER_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_ISR_TRACING=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_READY_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_OSTICK_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_EVENT_GROUP_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_TIMER_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_PEND_FUNC_CALL_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_INCLUDE_STREAM_BUFFER_EVENTS=y
CONFIG_PERCEPIO_RECORDER_CFG_ENABLE_STACK_MONITOR=y
CONFIG_PERCEPIO_RECORDER_CFG_STACK_MONITOR_MAX_TASKS=15
CONFIG_PERCEPIO_RECORDER_CFG_STACK_MONITOR_MAX_REPORTS=1
CONFIG_PERCEPIO_RECORDER_CFG_CTRL_TASK_PRIORITY=1
CONFIG_PERCEPIO_RECORDER_CFG_CTRL_TASK_DELAY=10
CONFIG_PERCEPIO_RECORDER_CFG_CTRL_TASK_STACK_SIZE=1024
CONFIG_PERCEPIO_RECORDER_TRC_RECORDER_BUFFER_ALLOCATION_STATIC=y
# CONFIG_PERCEPIO_RECORDER_TRC_RECORDER_BUFFER_ALLOCATION_DYNAMIC is not set
# CONFIG_PERCEPIO_RECORDER_TRC_RECORDER_BUFFER_ALLOCATION_CUSTOM is not set
CONFIG_PERCEPIO_RECORDER_CFG_MAX_ISR_NESTING=8
CONFIG_PERCEPIO_RECORDER_TRC_CFG_ENTRY_TABLE_SLOTS=40
CONFIG_PERCEPIO_RECORDER_TRC_CFG_ENTRY_SYMBOL_MAX_LENGTH=25
# CONFIG_PERCEPIO_RECORDER_TRC_STREAM_PORT_USE_INTERNAL_BUFFER is not set
CONFIG_PERCEPIO_RECORDER_TRC_CFG_ISR_TAILCHAINING_THRESHOLD_STREAMING=0
