# Copyright (c) 2021 Percepio AB
# SPDX-License-Identifier: Apache-2.0

if PERCEPIO_TRACERECORDER

menu "RTT Config"
config PERCEPIO_RECORDER_TRC_CFG_RTT_BUFFER_SIZE_UP
	int "RTT buffer size up"
	default 5000
	range 0 1048576
	help
	  Defines the size of the "up" RTT buffer (target -> host) to use for writing
	  the trace data, for RTT buffer 1 or higher.
	  
	  This setting is ignored for RTT buffer 0, which can't be reconfigured
	  in runtime and therefore hard-coded to use the defines in SEGGER_RTT_Conf.h.
	  
	  Default buffer size for Tracealyzer is 5000 bytes.
	  If you have a stand-alone J-Link probe, the can be decreased to around 1 KB.
	  But integrated J-Link OB interfaces are slower and needs about 5-10 KB,
	  depending on the amount of data produced.

config PERCEPIO_RECORDER_TRC_CFG_RTT_BUFFER_SIZE_DOWN
	int "RTT buffer size down"
	default 32
	range 0 1048576
	help
	  Defines the size of the "down" RTT buffer (host -> target) to use for reading
	  commands from Tracealyzer, for RTT buffer 1 or higher.
	  
	  Default buffer size for Tracealyzer is 32 bytes.
	  
	  This setting is ignored for RTT buffer 0, which can't be reconfigured
	  in runtime and therefore hard-coded to use the defines in SEGGER_RTT_Conf.h.

config PERCEPIO_RECORDER_TRC_CFG_RTT_UP_BUFFER_INDEX
	int "RTT buffer up index"
	default 1
	range 0 32
	help
	  Defines the RTT buffer to use for writing the trace data. Make sure that
	  the PC application has the same setting (File->Settings).
	  
	  Default: 1
	  
	  We don't recommend using RTT buffer 0, since mainly intended for terminals.
	  If you prefer to use buffer 0, it must be configured in SEGGER_RTT_Conf.h. 

config PERCEPIO_RECORDER_TRC_CFG_RTT_DOWN_BUFFER_INDEX
	int "RTT buffer down index"
	default 1
	range 0 32
	help
	  Defines the RTT buffer to use for reading the trace data. Make sure that
	  the PC application has the same setting (File->Settings).
	  
	  Default: 1
	  
	  We don't recommend using RTT buffer 0, since mainly intended for terminals.
	  If you prefer to use buffer 0, it must be configured in SEGGER_RTT_Conf.h.

choice
	prompt "RTT Blocking Mode"
	default PERCEPIO_RECORDER_SEGGER_RTT_MODE_NO_BLOCK_SKIP
	help
	  This stream port for J-Link streaming relies on SEGGER RTT, that contains an
	  internal RAM buffer read by the J-Link probes during execution.
	  
	  Possible values:
	    - SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL
	    - SEGGER_RTT_MODE_NO_BLOCK_SKIP (default)
	  
	  Using SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL ensure that you get a
	  complete and valid trace. This may however cause blocking if your streaming
	  interface isn't fast enough, which may disturb the real-time behavior.
	  
	  We therefore recommend SEGGER_RTT_MODE_NO_BLOCK_SKIP. In this mode,
	  Tracealyzer will report lost events if the transfer is not
	  fast enough. In that case, try increasing the size of the "up buffer".
		
config PERCEPIO_RECORDER_SEGGER_RTT_MODE_NO_BLOCK_SKIP
	bool "Skip: Do not block, output nothing."

config PERCEPIO_RECORDER_SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL
	bool "Block: Wait until there is space in the buffer."
endchoice

endmenu

endif
